@using Serials.Core
@model List<SerialViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<style>

    .content {
        padding: 40px 0;
    }
    /*
    .filter-wrapper{
      padding: 30px 0;
    }*/

    .filter-checkbox {
        margin-left: 30px
    }

        .filter-checkbox:first-child {
            margin-left: 0
        }
</style>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-2">
                @*<div class="btn-group submitter-group float-right">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Status</div>
                    </div>
                    <select class="form-control status-dropdown">
                        <option value="">All</option>
                    </select>
                </div>*@
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary float-right" onclick="location.href='@Url.Action("Create")'">Add new</button>
            </div>
        </div>
    </div>
    <table id="example" class="table">
        <thead>
            <tr>
                <th>SerialNumber</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>ActivationDate</th>
                <th>Software</th>
                @*<th>Info</th>*@
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in @Model)
            {
                <tr>
                    <td>@row.SerialNumber</td>
                    <td>@row.Firstname</td>
                    <td>@row.Lastname</td>
                    <td>@row.Email</td>
                    <td>@row.ActivationDate</td>
                    <td>@row.SoftwareSelected</td>
                    @*<td>@row.Info</td>*@
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-serialNumber="@row.SerialNumber">Edit</a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-serialNumber="@row.SerialNumber">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataTable = $("#example").DataTable({
       
        });
    });
</script>