@using Serials.Core
@using InputType = Serials.Core.InputType;
@model SerialViewModel

@{ 
    var clsHide = Model.InputType == InputType.Create ? "d-none" : "";
}

<form class="form-horizontal" method="post" asp-area="" asp-controller="Home" asp-action="@ViewContext.RouteData.Values["action"].ToString()">
    <input type="hidden" asp-for="InputType" />

    <div class="row">
        <div class="col-6 form-group">
            <label asp-for="SerialNumber"></label>
            <input class="form-control" asp-for="SerialNumber" readonly />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 form-group">
            <label asp-for="Firstname"></label>
            <input class="form-control" asp-for="Firstname" />

        </div>
        <div class="col-6 form-group">
            <label asp-for="Lastname"></label>
            <input class="form-control" asp-for="Lastname" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 form-group @clsHide">
            <label asp-for="ActivationDate"></label>
            <span></span>
            <input class="form-control" asp-for="ActivationDate" readonly/>
        </div>
        <div class="col-6 form-group">
            <label asp-for="SoftwareSelected"></label>
            <select class="form-control dropdown" asp-for="SoftwareSelected" asp-items="@Model.SoftwareList"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-6 form-group">
            <label asp-for="DeregistrationLimit"></label>
            <input class="form-control" asp-for="DeregistrationLimit" />
            <span asp-validation-for="DeregistrationLimit" class="text-danger"></span>
        </div>
        <div class="col-3 form-group">
            <label asp-for="Language"></label>
            <input class="form-control" asp-for="Language" />
        </div>
        <div class="col-3 form-group mt-3 pt-3">
            <label asp-for="Active"></label>
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox" asp-for="Active">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div class="row @clsHide">
        <div class="col-12 form-group">
            <label asp-for="Info"></label>
            <input class="form-control" asp-for="Info" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="Notes"></label>
            <textarea class="form-control" asp-for="Notes" rows="3" ></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-dark float-right" onclick="location.href='@Url.Action("Index")'" type="reset">Cancel</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary float-right" type="submit">Save</button>
        </div>
    </div>
</form>